<ion-content>
  <ion-header>
    <ion-toolbar>

      <ion-text class="ion-text-center" color="dark">
        <h3>Nuevo Agremiado </h3>
      </ion-text>

      <ion-buttons slot="end">
        <ion-button (click)="close()" fill="clear">
          <ion-icon  slot="icon-only" name="close"></ion-icon>
         </ion-button>
      </ion-buttons>

    </ion-toolbar>


  </ion-header>

  <ion-grid fixed>
    <form  [formGroup]="formProduct"  (ngSubmit)="submit()" >
    <ion-row>
    

      <ion-col size="6">
        <ion-label >Apellidos</ion-label>
       <ion-input
       formControlName="apellidos"
          fill="outline"></ion-input>
         
      </ion-col>
      
      <ion-col size="6">
        <ion-label >Nombre</ion-label>
       <ion-input
       formControlName="nombre"
          fill="outline"></ion-input>
         
      </ion-col>

    </ion-row>

   
    <ion-row>
      <ion-col size="6">
        <ion-label >NUP:</ion-label>
       <ion-input
       formControlName="NUP"
          fill="outline"></ion-input>
         
      </ion-col>
      <ion-col size="6">
        <ion-label >NUE:</ion-label>
       <ion-input
       formControlName="NUE"
          fill="outline"></ion-input>
         
      </ion-col>
    </ion-row>
       
    <ion-row>
      <ion-col size="6">
        <ion-label >RFC:</ion-label>
       <ion-input
       formControlName="RFC"
          fill="outline"></ion-input>
         
      </ion-col>
      <ion-col size="6">
        <ion-label >NSS:</ion-label>
       <ion-input
       formControlName="NSS"
          fill="outline"></ion-input>
         
      </ion-col>
    </ion-row>
     
     
    <ion-row>
      <ion-col size="6">
        <ion-label >Fecha de nacimiento:</ion-label>
       <ion-input
       type="date"
       formControlName="f_nacimiento"
          fill="outline"></ion-input>
         
      </ion-col>
      <ion-col size="6">
        <ion-label >Telefono:</ion-label>
       <ion-input
       formControlName="telefono"
          fill="outline"></ion-input>
         
      </ion-col>
    </ion-row>
  
 
    <ion-row>
      <ion-col size="6">
        <ion-label >Cuota</ion-label>
       <ion-input formControlName="cuota"></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-label >Genero:</ion-label>
         <ion-input  formControlName="sexo"></ion-input>
      </ion-col>
    </ion-row>
  


    <ion-button  class="button-container" type="submit" expand="block" class="rounded-button">
Agregar agremiado
    </ion-button>
    
    
    

  </form>
  </ion-grid>



</ion-content>
