<ion-content>
  
  <ion-grid>
 <ion-row>
  <ion-col size="6" class="batipuchungito">
    <ion-text  >
      <h1>Agremiados de aqui</h1>
    </ion-text>

</ion-col>
  <ion-col size="6" class="batipuchungito">
    <ion-button class="asuuu" (click)="generatePDF()">Imprimir lista</ion-button>
  </ion-col>
 </ion-row>
  </ion-grid>
 
  <ion-grid class="table-container">
    <ion-row>
      <ion-col size="1">Apellidos</ion-col>
      <ion-col size="1">Nombre</ion-col>
      <ion-col size="0.5">Sexo</ion-col>
      <ion-col size="1">NUP</ion-col>
      <ion-col size="1">NUE</ion-col>
      <ion-col size="1">RFC</ion-col>
      <ion-col size="1">NSS</ion-col>
      <ion-col size="1">Fecha Nacimiento</ion-col>
      <ion-col size="1">Teléfono</ion-col>
      <ion-col size="1">Cuota</ion-col>
      <ion-col size="1">Acciones</ion-col>
    </ion-row>

  
    <ion-row *ngFor="let a of agremiados" class="table-row">
      <ion-col size="1">{{a.apellidos}}</ion-col>
      <ion-col size="1">{{a.nombre}}</ion-col>
      <ion-col size="0.5">{{a.sexo}}</ion-col>
      <ion-col size="1">{{a.NUP}}</ion-col>
      <ion-col size="1">{{a.NUE}}</ion-col>
      <ion-col size="1">{{a.RFC}}</ion-col>
      <ion-col size="1">{{a.NSS}}</ion-col>
      <ion-col size="1">{{a.f_nacimiento}}</ion-col>
      <ion-col size="1">{{a.telefono}}</ion-col>
      <ion-col size="1">{{a.cuota}}</ion-col>
      <ion-col size="1">
        <ion-button (click)="openEditAgremiado(a.id)">Editar</ion-button>
        <ion-button color="danger" (click)="confirmarEliminacion(a.id)">Eliminar</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
